# ATC coding rules - https://github.com/atc-net/atc-coding-rules
# Version: 1.0.9
# Updated: 01-02-2022
# Location: app-type=CLI
# Distribution: DotNet6
# Inspired by: https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/code-style-rule-options

##########################################
# Code Analyzers Rules
##########################################
[*.cs]

dotnet_diagnostic.CA1031.severity = none            # Not needed in CLI projects
dotnet_diagnostic.CA1303.severity = none            # Not needed in CLI projects
dotnet_diagnostic.CA1819.severity = none            # Not needed in CLI projects
dotnet_diagnostic.CA1848.severity = none            # Not needed in CLI projects
dotnet_diagnostic.CA2000.severity = none            # Not needed in CLI projects
dotnet_diagnostic.CA2254.severity = none            # Not needed in CLI projects